@import "tailwindcss";

/* Mana bu qatorlar matn ko'rinishi uchun qo'shimcha */
@layer base {
  body {
    @apply bg-white text-gray-900;
  }
  
  input, textarea {
    @apply text-gray-900 placeholder:text-gray-400 bg-gray-100;
  }
}